@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

:root {
    --primary-color:  #753a88;
}

body {
    font-family: 'Work Sans', sans-serif; 
}
#box{
    width: 550px;
    background-color: whitesmoke;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin-left: 400px;
    border-radius: 5px;
    display: block;
    height:350px;
    align-self: center;
}
input{
    width: 90%;
    display: block;
    height: 40px;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid #8080809e;
    border-radius: 5px;
    padding: 0px 10px;
    transition: 0.3s ease-in-out box-shadow;


}
input:focus{
    outline: none;
    border: 1px solid var(--primary-color);
}
input[type=submit]
{
   
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    border: none;
    transition: 0.3s ease-in background;
}


input:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


h2{
    text-align: center;
    margin: 0px 20px;
    margin-bottom: 10px;
    margin-top: 30px;
}
#box p{
    text-align: center;
    color: rgb(144, 136, 136);
    font-family: sans-serif;
    margin: 0px 10px;
    margin-bottom: 40px;
}